// Use Compass ('cause it rocks!)
@import "compass";
@import "modules/all";
@import "fonts";

.form-group.has-error{
	margin-bottom: 0;
}

.btn.btn-primary{
	padding: $horizontal-padding-button;
}

input[type="button"], button{
	&:focus{
		outline:none;
	}
}

.form-horizontal .form-group{
	margin-left:0;
	margin-right: 0;

	.control-label{
		padding:0 0 5px 0;
	}	
}

// outside to not affect has-error and status colors
.control-label{
	color:$legend-font-color;
}

main.row{
	margin:0;
	margin-left:20%;
}


@media(max-width: 767px){
	.container-fluid{
		margin: 0 10px;
	}

	main.row{
		margin:0;
		margin-top:40px;
	}

}

@import "typography";