body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.custom-precio-titulo {
  font-family: 'Platform-regular';
  font-size: 17px;
}

.custom-precio {
  font-weight: bold;
  color: #000000;
  font-size: 26px;
}

.custom-precio-regular {
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  color: #575757;
  font-size: 11px;
}
.custom-precio-regular span {
  text-decoration: line-through; 
}
.custom-precio-online {
  padding: 4px 0px;
  color: #ce1d68;
  font-size: 15px;
}
.custom-precio-online span {
  color: #1f1f1f;
  font-size: 20px;
  font-weight: bold;
}
.custom-precio-cuotas {
  padding: 2px 0px 4px 0px;
  color: #d9ad07;
  font-size: 12px;
  font-weight: bold;
}
.custom-envio-gratis {
  color: #777;
  font-size: 13px;
  font-weight: bold;
  background-image: url('//resourcesdev.personal.com.ar/images/icons/icon-camion-envios-gris.png');
  background-repeat: no-repeat;
  background-position: left 60%;
  margin-top: 10px;
  padding: 15px 10px 10px 60px;
}

.grid .custom-envio-gratis{
  margin-top: 0px;
}

.custom-description{
  margin-top:10px;
}

.page-header .tpicon {
  font-size: 56px;
  top: auto;
  bottom: -18px;
}


#btn-gotop .tpicon {
  font-size: 30px;
}
.custom-bar-nombre-equipo {
  overflow: hidden;
  width: 98%;
  line-height: 1.4;
  height: 20px;
}
.custom-bar-precios span {
  margin-right: 10px;
}
.custom-bar-precio-cuotas {
  font-weight: bold;
}
.custom-bar-precio-regular {
  font-size: 16px;
  color: #00b4c5;
  text-decoration: line-through;
}
.custom-bar-precio-online {
  font-size: 26px;
  color: #00b4c5;
}
.custom-bar-segunda-columna {
  border-left: 1px solid #ffffff;
  padding-left: 10px;
}

.popover{ background-color:#FBF188; max-width:800px;}
.popover.top > .arrow:after {border-top-color: #FBF188;}

#ancho_equipo { 
	border-bottom:1px solid gray; 
	text-align:center; 
	padding-top:30px 
}

#alto_equipo { 
	border-left: 1px solid gray; 
	padding-left:15px 
}

#cube-15 { 
	height:15px; 
	width:15px
}

#peso_equipo{ 
	padding-top:15px
}
