@font-face {
  font-family: "Flaticon";
  src: url("../vendor/flaticon/flaticon.eot");
  src: url("../vendor/flaticon/flaticon.eot#iefix") format("embedded-opentype"), url("../vendor/flaticon/flaticon.woff") format("woff"), url("../vendor/flaticon/flaticon.ttf") format("truetype"), url("../vendor/flaticon/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

.flaticon-add139:before {
  content: "\e000";
}

.flaticon-coffee22:before {
  content: "\e001";
}

.flaticon-computer39:before {
  content: "\e002";
}

.flaticon-concentric:before {
  content: "\e003";
}

.flaticon-croos:before {
  content: "\e004";
}

.flaticon-daily6:before {
  content: "\e005";
}

.flaticon-desktop:before {
  content: "\e006";
}

.flaticon-dwelling1:before {
  content: "\e007";
}

.flaticon-email21:before {
  content: "\e008";
}

.flaticon-infinite6:before {
  content: "\e009";
}

.flaticon-key162:before {
  content: "\e00a";
}

.flaticon-laptop112:before {
  content: "\e00b";
}

.flaticon-map44:before {
  content: "\e00c";
}

.flaticon-menu45:before {
  content: "\e00d";
}

.flaticon-minibar:before {
  content: "\e00e";
}

.flaticon-minisplit:before {
  content: "\e00f";
}

.flaticon-office17:before {
  content: "\e010";
}

.flaticon-pencil75:before {
  content: "\e011";
}

.flaticon-phone16:before {
  content: "\e012";
}

.flaticon-television4:before {
  content: "\e013";
}

.flaticon-two81:before {
  content: "\e014";
}

.flaticon-water59:before {
  content: "\e015";
}

.flaticon-whiteboard6:before {
  content: "\e016";
}

.flaticon-wifi74:before {
  content: "\e017";
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v14/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v14/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v14/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v14/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v14/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v14/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v14/fg2nPs59wPnJ0blURyMU3PesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
  font-family: "Roboto" sans-serif;
  color: #283c41;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto" sans-serif;
}

h1, .h1 {
  font-size: 34px;
}

h2, .h2 {
  font-size: 27px;
}

h3, .h3 {
  font-size: 20px;
}

h4, .h4 {
  font-size: 16px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
}

.container-fluid {
  margin-right: 1.6em;
  margin-left: 1.6em;
}

.blue-button {
  /*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0645a3), color-stop(100%, #01070f));
  background-image: -webkit-linear-gradient(#0645a3,#01070f);
  background-image: -moz-linear-gradient(#0645a3,#01070f);
  background-image: -o-linear-gradient(#0645a3,#01070f);*/
  background-image: linear-gradient(#0645a3, #01070f);
  border-radius: 0.6em;
}
.blue-button:hover {
  background-color: #0044a9;
  /*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, #021b41));
  background-image: -webkit-linear-gradient(rgba(255,255,255,0),#021b41);
  background-image: -moz-linear-gradient(rgba(255,255,255,0),#021b41);
  background-image: -o-linear-gradient(rgba(255,255,255,0),#021b41);*/
  background-image: linear-gradient(rgba(255, 255, 255, 0), #021b41);
  /*-webkit-box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5),inset 0 0.1em 0 rgba(255,255,255,0.5),inset 0 0 1em #0044a9;
  -moz-box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.5),inset 0 0.1em 0 rgba(255,255,255,0.5),inset 0 0 1em #0044a9;*/
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5), inset 0 0 1em #0044a9;
}

.red-button {
  background-image: linear-gradient(#de212b, #01070f);
  border-radius: 0.6em;
  border: red;
}
.red-button:hover {
  background-color: #ff7d86;
  background-image: linear-gradient(rgba(255, 255, 255, 0), #021b41);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5), inset 0 0 1em #ff7d86;
}

.text-lg {
  font-size: 2em;
}

.margin-bottom-md {
  margin-bottom: 1.2em;
}

.clear-margin {
  margin: 0;
}

.clear-margin-top {
  margin-top: 0;
}

.clear-margin-bottom {
  margin-bottom: 0;
}

.well-header {
  padding: 0.4em;
}

.title-show-list {
  color: #013d91;
}

.show-data-list {
  padding-left: 0;
  padding-top: 1em;
}
.show-data-list li {
  border-bottom: 1px solid #dedede;
  list-style: none;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}
.show-data-list li:last-child {
  border-bottom: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.figure-banner-hotel {
  border-radius: 20px;
  height: 427px;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
}
.figure-banner-hotel .figcaption {
  background-color: #000;
  opacity: 0.5;
  padding-bottom: 10%;
  position: absolute;
  top: 30%;
  width: 100%;
}
.figure-banner-hotel .figcaption h2, .figure-banner-hotel .figcaption p {
  color: #FFF;
  opacity: 1;
}

.comment-content {
  min-height: 160px;
}
.comment-content .comment-bubble {
  display: inline-block;
  padding: 14px 0;
  position: relative;
}
.comment-content .comment-bubble .comment-arrow {
  bottom: 0;
  left: 2em;
  border-width: 15px 15px 0;
  border-top-color: #63b7e0;
}
.comment-content .comment-bubble .comment-message {
  background-color: #f0f5fc;
  border: 1px solid #63b7e0;
  border-radius: 1em;
  padding: 1em;
}
.comment-content .comment-description {
  height: 80px;
  margin-bottom: 1em;
  position: relative;
}
.comment-content .comment-description .comment-flag-section {
  float: left;
  width: 100px;
}
.comment-content .comment-description .comment-flag-section .user-icon {
  margin-left: 1.4em;
  margin-top: 0.5em;
}
.comment-content .comment-description .comment-flag-section .user-icon span {
  font-size: 3em;
}
.comment-content .comment-description .comment-flag-section .flag {
  margin-left: 2.2em;
}
.comment-content .comment-description .comment-info {
  left: 100px;
  position: absolute;
  top: 0;
}
.comment-content .comment-description .comment-info h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.comment-content .comment-description .comment-info p {
  margin-bottom: 0;
}
.comment-content .comment-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/*
  =-=-=-=
	NAVIGATION COMPONENT
  =-=-=-=
*/
.list-store-item {
  text-align: left;
  padding: 0px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 2px #ccc;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.list-store-item .row {
  margin-left: 0;
  margin-right: 0;
}
.list-store-item.list-store-item-md {
  height: 125px;
  padding: 0;
}
.list-store-item .item-foto {
  float: left;
  height: 100%;
  overflow: hidden;
  width: 125px;
}
.list-store-item .item-foto img {
  height: 100%;
  margin-left: -15%;
}
.list-store-item .item-info {
  padding-left: 125px;
  padding-right: 160px;
}
.list-store-item .item-info .content-middle .item-middle h3, .list-store-item .item-info .content-middle .item-middle address, .list-store-item .item-info .content-middle .item-middle .adress, .list-store-item .item-info .content-middle .item-middle .map {
  margin-bottom: 0;
}
.list-store-item .item-info .content-middle .item-middle .star-content {
  color: #c9b467;
}
.list-store-item .item-info .content-middle .item-middle address, .list-store-item .item-info .content-middle .item-middle .adress {
  color: gray;
}
.list-store-item .item-info .content-middle .item-middle .map {
  font-size: 0.75em;
}
.list-store-item .item-price {
  background-color: yellow;
  height: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1.5em;
  position: absolute;
  right: 0;
  top: 0;
  width: 160px;
}
.list-store-item .item-price .content-price .text-description {
  font-size: 0.80em;
}
.list-store-item .item-price .content-price .text-price {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.list-store-item .item-price .content-price button {
  font-size: 0.85em;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

/*
@media (min-width: 992px) {

}
@media (min-width: 992px) {

}
@media (max-width: 991px) {
  .list-store.grid .show-grid-sm {
    display: block !important;
  }
}
@media (max-width: 1199px) {
  .list-store.grid .show-grid-md {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .list-store-item-auto-xs {
    height: auto !important;
  }
}
@media (max-width: 991px) {
  .list-store-item-auto-sm {
    height: auto !important;
  }
}
@media (max-width: 1199px) {
  .list-store-item-auto-md {
    height: auto !important;
  }
}
@media (min-width: 1200px) {
  .list-store-item-auto-lg {
    height: auto !important;
  }
}

*/
/*
  =-=-=-=
	NAVIGATION COMPONENT
  =-=-=-=
*/
/*
  =-=-=-=
	NAVIGATION COMPONENT
  =-=-=-=
*/
/*
  =-=-=-=
	NAVIGATION COMPONENT
  =-=-=-=
*/
#search-hotel-form {
  .form-group: last-child;
  .form-group-margin-bottom: 0;
}
#search-hotel-form.well-yellow {
  background-color: yellow;
  border-color: yellow;
  border-radius: 20px;
}

.hotel-star-list {
  li: last-chile;
  li-margin-bottom: 0;
}
.hotel-star-list {
  list-style: none;
}
.hotel-star-list li {
  margin-bottom: 0.5em;
}
.hotel-star-list .star-list {
  color: #c9b467;
  float: right;
}
