<div class="panel panel-default">
    <div class="panel-heading">
        <img src="images/temp/photo.png" class="img-circle pull-left">
        <h4 class="entry-header">
            {{entry.initiator.displayName}}
            <p class="small">Posted in the wall <stronh>{{entry.date}}</stronh></p>
        </h4>
    </div>

    <div class="panel-body">
        <p>{{entry.content}}</p>
    </div>
    <div class="panel-thumbnail">
        <img src="images/temp/bg_suburb.jpg" class="img-responsive">
    </div>
</div>