<ul class="well hotel-star-list">
    <li>
        <a>Hoteles 5 estrellas</a>
        <span class="star-list">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </span>
    </li>
    <li>
        <a>Hoteles 4 estrellas</a>
        <span class="star-list">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </span>
    </li>
    <li>
        <a>Hoteles 3 estrellas</a>
        <span class="star-list">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </span>
    </li>
    <li>
        <a>Hoteles 2 estrellas</a>
        <span class="star-list">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </span>
    </li>
    <li>
        <a>Hoteles 1 estrellas</a>
        <span class="star-list">
            <span class="glyphicon glyphicon-star"></span>
        </span>
    </li>
</ul>