<section id="search-hotel-form" class="well well-yellow">
    <form class="form-horizontal">
        <h2 class="text-primary margin-bottom-md">Buscar hoteles en Río de Janeiro</h2>

        <div class="form-group">
            <label for="inputCity" class="col-sm-2 control-label">Ciudad</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputCity" placeholder="Ciudad">
            </div>
        </div>

        <div class="form-group">
            <label for="inputGo" class="col-sm-2 control-label">Entrada</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="inputGo">
            </div>
        </div>

        <div class="form-group">
            <label for="inputBack" class="col-sm-2 control-label">Húespedes</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="inputBack">
            </div>
        </div>

        <div class="form-group">
            <label for="inputQuantity" class="col-sm-2 control-label">Cantidad</label>
            <div class="col-sm-2">
                <label class="control-label">Adultos</label>
                <select class="form-control" id="inputQuantity">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="col-sm-2">
                <label class="control-label">Menores</label>
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-10 col-sm-2">
                <button type="submit" class="btn btn-primary btn-lg btn-block blue-button"><span>Buscar</span></button>
            </div>
        </div>
    </form>
</section>
